<% if (post.link){ %>
  <h1 class="title"><a href="<%- post.link %>" target="_blank"><%= post.title %></a></h1>
<% } else { %>
  <% if (index){ %>
    <h1 class="title"><a href="<%- config.root %><%- post.path %>"><%= post.title %></a></h1>
  <% } else { %>
    <h1 class="title"><%= post.title %></h1>
  <% } %>
<% } %>