<%
var title = '', classes = 'archives-title';

if (is_category()) {
  title = page.category;
  classes += ' category';
} else if (is_tag()) {
  title = page.tag;
  classes += ' tag';
} else if (is_archive()) {
  if (is_year()) {
    title = page.year;
  } else if (is_month()) {
    title = page.year + page.month;
  }
}
%>

<% if (title) { %>
<h2 class="<%= classes %>"><span><%= title %></span></h2>
<% } %>

<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }); %>

  <%- partial('pagination') %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrapper">
        <% if (!title) { %>
        <h2 class="archives-title archives-year">
          <a href="<%- config.root %>archives/<%= year %>"><%= year %></a>
        </h2>
        <% } %>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
